<form [formGroup]="exerciseForm" (ngSubmit)="add()">
  <button>Voltar</button>
  <div>Exercício:<input formControleName="name" /></div>
  <div>Duração:<input formControlName="duration" type="number" /></div>
  <div>Repetições:<input formControlName="repetitions" type="number" /></div>
  <div>Preparação:<input formControlName="preparation" type="number" /></div>
  <div>Descanso:<input formControlName="rest" type="number" /></div>
  <button type="submit">Adicionar</button>
</form>

<table>
  <tr>
    <th>Exercício</th>
    <th>Duração</th>
    <th>Repetições</th>
    <th>Preparação</th>
    <th>Descanso</th>
    <th></th>
  </tr>
  <tr *ngFor="let e of ts.exercises; let i = index">
    <td>{{ e.name }}</td>
    <td>{{ e.duration }}</td>
    <td>{{ e.repetitions }}</td>
    <td>{{ e.preparation }}</td>
    <td>{{ e.rest }}</td>
    <button (click)="remove(i)">Excluir</button>
  </tr>
</table>
